{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %} {% endblock %}

{% block nav %}
    {% include 'snippets/navbar.html' %}
{% endblock %}

{% block body %}
    <section class="section">
        <div class="container has-text-centered">
            <h1 class="subtitle is-3">Tafel {{ request.user.tablenumber }}</h1>
            <p class="subtitle">Uw bestelling is succesvol aangeboden aan onze keuken en is nu in behandeling</p>
            <a href="{% url 'menu:list' %}" class="has-text-link">Terug naar menu</a>
        </div>
    </section>
{% endblock %}